@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #3b82f6;
  --bg-color: #0f172a;
}

[data-theme="manhwa"] {
  --accent-color: #84174b; 
  --accent-light: #d36fac;
}

[data-theme="books"] {
  --accent-color: #a855f7; 
  --accent-light: #7e22ce;
}

[data-theme="series"] {
  --accent-color: #3282b8; 
  --accent-light: #50aad4;
}

[data-theme="movie"] {
  --accent-color: #db1212d8; 
  --accent-light: #de5555;
}

body {
  background-color: var(--bg-color);
  color: #f8fafc;
}